/* Space out content a bit */
body, h1, h2, h3, p {
  padding: 0;
  margin: 0;
  font-family: Tahoma, Verdana, Arial;
}

hr {
  margin: 20px 0;
}

.logo {
  margin: 0;
  padding: 0 0 0 15px;
  line-height: 40px;
}

nav {
  padding: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn:active, .btn-primary:active {
  background-color: red;
  border: 0;
}

.nav-pills > li + li {
  margin-left: 5px;
}

a:focus, a:hover, a {
  color: black;
}

.marketing {
  background-color: #e6e6e6;
}

.marketing h1 {
  padding: 100px;
  text-align: center
}

.welcome p {
  font-size: 18pt;
  color: gray;
}

.welcome, .box {
  padding: 60px 0;
}

.module {
  margin-top: 100px;
  margin-bottom: 100px;
}

.title, footer {
  background-color: #DEDEDE;
}

.title, .content {
  padding: 15px;
  color: black;
}

.center {
  text-align: center;
}

footer {
  padding: 15px;
}

footer ul li {
  list-style-type: none;
}

footer ul {
  padding-left: 5px;
}

/* font */
h1, h2, h3 {
  padding: 10px 0;
}

.box h3 {
  padding: 15px 0;
}

.box span {
  font-size: 60px;
}

.underline {
  text-decoration: underline;
}

/* EVENT */
.panel-default > .panel-heading {
  color: white;
  background-color: red;
}

.panel-default > .panel-heading > a {
  color: white;
  text-decoration: underline;
}

/* forms */
form errors {
  color: red;
}
